* {
  margin: 0 auto; }

.margin {
  width: 950px; }

header .margin {
  height: 79px;
  border-bottom: 3px solid #000; }

header p {
  color: #000;
  font: 12px/26px ""; }

header a {
  color: #000;
  font: 12px/26px ""; }

header a:hover {
  color: red; }

header #h-l {
  margin-top: 4px;
  float: left; }

header #h-l a {
  color: #000;
  margin-top: 8px;
  font: 12px/39px ""; }

header #h-c {
  float: left;
  margin-top: 30px;
  margin-left: 180px; }

header #h-r {
  margin-top: 4px;
  float: right; }

header #h-r input {
  width: 110px;
  border: 1px solid #b3b3b3; }

nav .margin {
  position: relative; }

nav .clear {
  float: left;
  padding-bottom: 22px; }

nav .clear li {
  float: left;
  width: 119px;
  font: 14px/34px "";
  text-align: center; }

nav .clear li .erji3 {
  width: 150px;
  position: absolute;
  display: none;
  border: 1px solid #FF0000; }

nav .clear .li2 .erji2 {
  width: 950px;
  margin-left: -120px;
  background: gray;
  display: none; }

nav .clear .li2:hover .erji2 {
  display: block;
  position: absolute; }

nav .clear .li2 .erji2 li a {
  display: inline-block;
  width: 100px; }

nav .clear .li2 .erji2 li a:hover {
  background: #000; }

nav .clear li .erji3 li {
  width: 150px;
  background: gray;
  float: left; }

nav .clear li .erji3 li a {
  display: inline-block;
  width: 100px;
  border-bottom: 1px solid #000; }

nav .clear li:hover {
  background: gray; }

nav .clear li a {
  color: #000; }

nav .clear li b {
  display: inline-block;
  width: 25px;
  height: 12px;
  border-radius: 50%;
  background: red;
  color: #fff;
  font: 12px/12px "";
  margin-top: -5px; }

nav .clear li:hover a {
  color: #fff; }

nav .clear li:hover .erji3 {
  display: block; }

nav .clear li .erji3 ul li:hover {
  background: #000; }
#denglu{
	margin-top: 18px;
}
#denglu .p p{
	 width: 100%px;
	 height: 50px;
	 font: 22px/50px "";
	 color: #fff;
	 background: #000;
	 margin-top: 60px;
	 text-align: center;
}
#denglu .left{
	margin-top: 20px;
	margin-bottom: 40px;
	width: 472px;
	border-right: 1px solid #999;
	float: left;
}
#denglu .left h4{
	font: 24px/50px "";font-weight: 800; color: #000;
	font-weight: 800;
	
}
#denglu .left .zhanghao{
	margin-left: 18px;
	font: 16px/26px "";
	color: #000;
}
#denglu .left .in1{
	width: 220px;
	height: 26px;
	border: 1px solid #999;
}
#denglu .left b{font: 14px/26px ""; color: #999;}
#denglu .left .text{display:inline-block ;width: 108px; height: 26px; font: 12px/26px ""; margin-left: 65px; margin-top: 10px;}
#denglu .left .yanzhengma{
	text-align: center;
	display:inline-block ;
	width: 108px; height: 26px; 
	border: 1px solid #000;
	margin-top: 10px;
	margin-left: 10px;
}
#denglu .left .password{width: 108px; height: 26px; border: 1px solid #999;margin-top: 10px;}
#denglu .left .button{width: 108px; height: 26px; border: 1px solid #000;margin-top: 10px; background: #000;color: #fff;margin-left: 10px;}
#denglu .left p{
	font: 12px/26px ""; color: #999;width: 324px; margin-left: 75px;
}
#denglu .left p a{color: red;}
#denglu .left .submit{
	width: 60px; height: 30px; border: 1px solid #000;margin-top: 10px; background: #000;color: #fff;margin-left: 10px;margin-left: 75px;
}
#denglu .left i{
	font: 12px/38px "";color: #999;
}
#denglu .right{
	float: left;
	margin-top: 20px;
	margin-left: 43px;
}
#denglu .right h4{
	font: 24px/50px "";font-weight: 800; color: #000;
}

#denglu .right p{
	font: 14px/45px "";
}
#denglu .right .zhuce{
	width: 106px; height: 30px; border: 1px solid #000;margin-top: 10px; background: #000;color: #fff;margin-left: 10px;margin-left: 75px;
}
#friend {
  border-top: 1px dashed #000; }

#friend .i12 img {
  margin: 19px 0;
  margin-left: 405px; }

#friend .ul1 li {
  text-align: center;
  width: 115px;
  height: 26px;
  float: left;
  background: #000000; }

#friend .ul1 li a {
  font: 12px/26px "";
  color: #fff; }

#friend .ul1 li:hover a {
  color: #FF0000; }

#friend .ul2 ul {
  margin-top: 30px; }

#friend .ul2 li {
  float: left;
  width: 155px;
  height: 120px;
  border-right: 1px solid #cccccc;
  text-align: center; }

#friend .ul2 li img {
  display: block; }

#friend .ul2 li a {
  font: 12px/18px "";
  color: #000; }

#friend .ul2 li a:hover {
  color: #ccc; }

#friend .ul2 li h4 {
  font: 12px/18px  "";
  font-weight: 900;
  color: #000; }

#friend .dibu {
  height: 64px;
  border-bottom: 1px solid #666666; }

#friend .dibu img {
  float: left;
  margin-left: 184px;
  margin-top: 30px;
  margin-bottom: 22px; }

footer {
  text-align: center; }

footer img {
  display: block;
  margin-top: 12px; }

footer span {
  display: block;
  font: 12px/32px ""; }

/*# sourceMappingURL=new_file.css.map */
